@font-face {
    font-family: helvy-med;
    src: url("./HelveticaNeue-Medium.otf") format("opentype");
}

* {
    overflow: hidden;
    margin: 0;
}

body {
    background-color: #f2c463;
}

.instructions {
    width: 100vw;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 3;
    cursor: default;
    text-align: center;
    font-family: helvy-med;
    font-size: 1.2em;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.103);
}

#game {
    z-index: 2;
}

#game canvas {
    z-index: 2;
    position: absolute;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .9;
}

#trianglify {
    z-index: 1;
}